@font-face {font-family: "wpdfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.allstarlight:before,.allstardark:before {
  font-family:"wpdfont" !important;
  font-size:inherit;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.doulist-album .abstract{margin:7px 0 12px;font-size:12px}
.album-photo img:last-child{margin-right:0}
.doulist-item{margin:20px 0}
.doulist-subject, .doulist-album{line-height:1.5;background-color:#fff;overflow:hidden;padding:20px}
.doulist-subject .post{float:left;margin-right:20px}
.title a{text-decoration:none!important}
.allstardark{position:relative;color:#f99b01;display: inline-block;vertical-align: top;}
.allstarlight{position:absolute;left:0;color:#f99b01;height:18px;overflow:hidden}
.allstarlight:before{content:"\e600\e600\e600\e600\e600"}
.allstardark:before{content:"\e601\e601\e601\e601\e601"}
.doulist-subject .title{margin-bottom:6px}
.doulist-subject .rating{margin:6px 0 4px 120px;font-size:12px}
.doulist-subject .abstract{margin-left:120px;font-size:12px}
.doulist-item .mod{background-color:#f5f5f5;color:#666;padding:10px;position:relative;word-wrap:break-word}
.album-photo img {
     margin-right: 2%;
    max-width: 23.5%;
}