.allstardark{
  position: relative;
  color: #f99b01;
  height: 16px;
  width: 80px;
  background-repeat:repeat;
  background-image: url('star.svg');
  background-size: auto 100%;
  margin-right: 5px;
}

.allstarlight {
  position: absolute;
  left: 0;
  color: #f99b01;
  height: 16px;
  overflow: hidden;
  background-repeat:repeat;
  background-image: url('star-fill.svg');
  background-size: auto 100%;
}

.doulist-title {
  font-size: 18px;
}

.doulist-item{
  margin:30px 0;
  color: #666;
  border: 1px solid #eee;
  border-radius: 4px;
}

.doulist-item:hover {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}


.doulist-subject{
  display: flex;
  align-items: flex-start;
  line-height:1.6;
  padding:12px;
}

.doulist-subject .doulist-content {
  flex: 1 1 auto;
}

.doulist-subject .doulist-post{
  width: 96px;
  margin-right:15px;
  display: flex;
  flex:0 0 auto;
}
.doulist-subject .doulist-title a{
  text-decoration:none!important;
}

.doulist-subject .doulist-title {
  margin-bottom: 5px;
}

.doulist-subject .rating{
  margin:0 0 5px;
  font-size:14px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.doulist-subject .abstract{
  font-size:14px;
}

.doulist-subject img {
  width: 96px!important;
  height: 96px!important;
  border-radius: 4px;
  object-fit: cover;
}